body{
  height: 1vh;
  background-color: beige;
  width: 250px;
}

@media screen and (max-width: 600px) {
body{
  width: 150px;
  }
}

#navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
